#word, .word {
	text-align: center;
	border-top: 3px solid #333;
	padding-bottom: 10px;
	border-bottom: 3px solid #333;
	font: 5.0em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#window {
	width: 80%;
	float: center;
	margin: auto;
	margin-top: 200px;
}

#left, #mid, #right {
	display: inline-block;
}


#left {
	position: absolute;
	left: 30%;
}

#mid {
	color:  red;
	position: absolute;
	left: 30%

}
#right {
	position: absolute;
	left: 30%;
}

#controls {
	padding-top: 200px;
	float: center;
	margin: auto;
	width: 400px;
	text-align:  center;
}